---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to doddy.live">
	<main class="m-auto p-6 max-w-[120ch]">
		<h1 class="text-8xl py-4">Welcome to <span class="text-gradient">doddy.live</span></h1>
		<p class="instructions">
			This is the gate to my personal server. You can find my projects, my blog, and my other stuff here.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://doddys.me/"
				title="Profile Page"
				body="The webpage"
			/>
			<Card
				href="https://phpmyadmin.doddy.live/"
				title="MySql Admin"
				body="The database without hassle to start ur local server."
			/>
			<Card
				href="https://ozone.doddy.live/"
				title="Ozone"
				body="Social Media, the facebook competitor, LOL."
			/>
			<Card
				href="https://ozoneserver.doddy.live/"
				title="Ozone-server"
				body="Back-end for my team project, Ozone."
			/>
			<Card
				href="https://consumet.doddy.live/"
				title="Consumet-api"
				body="I've been hosting this for my personal project."
			/>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
